<a
  href="https://www.mv-tut-gut.de/markenportal"
  class="brand-link"
  aria-label="Logo: MV (Mecklenburg-Vorpommern) tut gut. (Link zum Markenportal)"
>
  <img
    src="assets/img/logo_35_jahre_mv.svg"
    alt="Logo: MV (Mecklenburg-Vorpommern) tut gut."
    class="landessignet"
  />
</a>

<div class="title">{{ "header.title" | translate }}</div>

<nav class="nav">
  <a mat-button href="https://www.mv-tut-gut.de/impressum" target="_blank">
    {{ "header.imprint" | translate }}
  </a>
  <a mat-button href="https://www.mv-tut-gut.de/kontakt" target="_blank">
    {{ "header.contact" | translate }}
  </a>
</nav>
