<div mat-dialog-content>
  <div>{{ "basic-auth-login.intro" | translate }}</div>
  <div class="service-url">{{ url }}</div>
  <div class="login">
    <mat-form-field appearance="fill">
      <mat-label>{{ "basic-auth-login.username" | translate }}</mat-label>
      <input matInput [(ngModel)]="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ "basic-auth-login.password" | translate }}</mat-label>
      <input type="password" matInput [(ngModel)]="password" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="cancel()" style="padding-right: 20px">
    {{ "controls.close" | translate }}
  </button>
  <button mat-button (click)="confirm()" cdkFocusInitial>
    {{ "controls.ok" | translate }}
  </button>
</div>
