<!-- <app-change-data-source></app-change-data-source> -->
<button
  mat-button
  color="primary"
  (click)="state.selectAllPhenomena()"
  [disabled]="!state.selectedPhenomenonId()"
  style="width: 100%"
>
  {{ "map-selection-view.select-all-phenomena" | translate }}
</button>
<div class="phenomenon-list">
  <helgoland-common-parameter-list-selector
    [selected]="state.selectedPhenomenonId()"
    [showOnlyActive]="state.showActiveOnly()"
    [searchTerm]="state.searchTerm()"
    (onItemSelected)="state.onPhenomenonSelected($event)"
    (searchTermChange)="state.setSearchTerm($event)"
  >
  </helgoland-common-parameter-list-selector>
</div>

<div class="toggle-active">
  <mat-slide-toggle
    [checked]="state.showActiveOnly()"
    (change)="state.setShowActiveOnly($event.checked)"
    [matTooltip]="'selection.show-only-active-description' | translate"
  >
    {{ "selection.show-only-active" | translate }}
  </mat-slide-toggle>
</div>

<div class="share">
  <helgoland-share-button
    [generatedUrlFunction]="permalink.generatePermalink"
    label="share-button.share-map-selection"
  ></helgoland-share-button>
</div>
