<div class="view-wrapper">
  <h1 class="visually-hidden">{{ "view.diagram.title" | translate }}</h1>
  @if (graphDatasetsSrvc.datasets().length === 0) {
    <div class="no-timeseries">
      {{ "diagram-view.no-timeseries.hint" | translate }}
      <div>
        <button mat-button (click)="openMapSelection()">
          {{ "diagram-view.add-timeseries.map" | translate }}
        </button>
      </div>
      <div>
        <button mat-button (click)="openListSelection()">
          {{ "diagram-view.add-timeseries.list" | translate }}
        </button>
      </div>
    </div>
  } @else {
    <div class="content">
      <div class="diagram">
        @if (visibleDataLoading) {
          <helgoland-loading-overlay-progress-bar />
        }
        <button
          class="local-settings-button"
          mat-mini-fab
          (click)="openDiagramSettings()"
          matTooltip="{{ 'diagram-view.open-diagram-settings' | translate }}"
          attr.aria-label="{{
            'diagram-view.open-diagram-settings' | translate
          }}"
        >
          <mat-icon>query_stats</mat-icon>
        </button>

        @if (graphDatasetsSrvc.visibilityLimitReached()) {
          <mat-toolbar
            color="warn"
            class="yellow-alert"
            attr.aria-label="{{
              'diagram-view.warning-visibility-limit-reached'
                | translate: { count }
            }}"
          >
            <mat-icon>warning</mat-icon>
            {{
              "diagram-view.warning-visibility-limit-reached"
                | translate: { count }
            }}
          </mat-toolbar>
        }
        @if (graphDatasetsSrvc.visibleDatasetCount() === 0) {
          <mat-toolbar
            color="warn"
            class="yellow-alert"
            attr.aria-label="{{
              'diagram-view.warning-no-visible' | translate
            }}"
          >
            <mat-icon>warning</mat-icon>
            {{ "diagram-view.warning-no-visible" | translate }}
          </mat-toolbar>
        }

        <div
          [style.height]="
            graphDatasetsSrvc.visibilityLimitReached() ||
            graphDatasetsSrvc.visibleDatasetCount() === 0
              ? '95%'
              : '100%'
          "
        >
          <n52-d3-series-graph
            #graph
            role="img"
            attr.aria-label="{{
              'diagram-view.diagram-description'
                | translate
                  : {
                      count: graphDatasetsSrvc.datasets().length,
                      series: seriesDescription()
                    }
            }}"
            [datasets]="graphDatasetsSrvc.datasets()"
            [timespan]="graphDatasetsSrvc.timespan"
            [graphOptions]="graphOptions()"
            (timespanChanged)="graphDatasetsSrvc.timespan = $event"
          >
          </n52-d3-series-graph>
        </div>
      </div>

      <div>
        @if (graphDatasetsSrvc.timespan) {
          <helgoland-general-time-selection
            [timespan]="graphDatasetsSrvc.timespan"
            (timespanChanged)="graphDatasetsSrvc.timespan = $event"
          >
          </helgoland-general-time-selection>
        }
      </div>

      @if (diagramConfig.overviewVisible()) {
        <div class="overview-diagram desktop-only">
          @if (overviewLoading) {
            <helgoland-loading-overlay-progress-bar />
          }
          @if (graphDatasetsSrvc.timespan) {
            <n52-d3-series-graph
              #overview
              role="img"
              attr.aria-label="{{
                'diagram-view.overview-description' | translate
              }}"
              [datasets]="graphDatasetsSrvc.overviewDatasets()"
              [timespan]="graphDatasetsSrvc.overviewTimespan"
              [graphOptions]="overviewOptions"
              (timespanChanged)="graphDatasetsSrvc.timespan = $event"
            >
              <n52-d3-graph-overview-selection
                [selectionTimeInterval]="graphDatasetsSrvc.timespan"
              >
              </n52-d3-graph-overview-selection>
            </n52-d3-series-graph>
          }
        </div>
      }
    </div>
  }
</div>
