:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    .landessignet {
        max-width: 200px;
        height: auto;
        margin: 0.5rem;
    }

    .title {
        font-size: 20px;
    }

    .nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    @media (max-width: 768px) {
        .landessignet {
            max-width: 150px;
        }

        .nav {
            gap: 0.5rem;
        }
    }
}