:host {
    .entry-count {
        padding-left: 6px;
        color: #5c5f63;
    }

    .select-all-button-container {
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
    }

    .mat-mdc-list-item {
        padding: 0.5em 0;

        +.mat-mdc-list-item {
            border-top: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}