<button
  mat-mini-fab
  (click)="isOpen = !isOpen"
  color="none"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  [attr.aria-expanded]="isOpen"
  attr.aria-label="{{
    'map-selection-view.adjust-map-button.tooltip' | translate
  }}"
>
  <mat-icon>map</mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="[
    { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' }
  ]"
  (detach)="isOpen = false"
>
  <mat-radio-group
    class="layer-list"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    attr.aria-label="{{ 'map-selection-view.base-map.label' | translate }}"
  >
    @for (item of baseMaps(); track $index) {
      <mat-radio-button
        class="layers-entry"
        [value]="item[0]"
        [checked]="item[1].visible"
        (change)="switchBaseVisibility(item[1])"
        >{{ item[1].label }}</mat-radio-button
      >
    }
  </mat-radio-group>
</ng-template>
