// @import '../../../../variables';

:host {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
}

.layer-list {
    display: flex;
    flex-direction: column;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin: 0;
}