<button
  mat-mini-fab
  (click)="isOpen = !isOpen"
  color="none"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  attr.aria-label="{{
    'map-selection-view.adjust-map-button.tooltip' | translate
  }}"
>
  <mat-icon>map</mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayPositions]="[
    { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' }
  ]"
  (detach)="isOpen = false"
>
  <div class="layer-list">
    @for (item of baseMaps(); track $index) {
      <div class="layers-entry" (click)="switchBaseVisibility(item[1])">
        <mat-radio-button
          class="example-radio-button"
          [checked]="item[1].visible"
          >{{ item[1].label }}</mat-radio-button
        >
      </div>
    }
  </div>
</ng-template>
