<div class="wrapper mat-elevation-z3" [ngClass]="{ fullscreen: fullscreen }">
  <a class="skip-link" href="#main-content" (click)="skipToContent($event)">{{
    "skip-link.to-content" | translate
  }}</a>

  <!-- <div class="header">
    <app-header />
  </div> -->

  <div class="main-area">
    <app-sidebar position="left" [collapsible]="true">
      <app-left-sidebar-content />
    </app-sidebar>

    <main class="content" id="main-content" tabindex="-1">
      <router-outlet></router-outlet>
    </main>

    <app-sidebar position="right" [collapsible]="true">
      <app-right-sidebar-content />
    </app-sidebar>
  </div>

  <div class="footer"></div>
</div>
