@use '@angular/material'as mat;

:host {
    @include mat.expansion-overrides (( // actions-divider-color: orange,
            // container-background-color: red,
            header-collapsed-state-height: 24px,
            header-expanded-state-height: 30px,
        ));

    .mat-expansion-panel {
        box-shadow: none;

        .mat-expansion-panel-header {
            padding: 0 5px;
        }

        ::ng-deep.mat-expansion-panel-body {
            padding: 0 5px;
        }

        .metadata-button-container {
            display: flex;
            justify-content: center;
        }
    }
}