<div class="table-view-container">
  <h1 class="visually-hidden">{{ "view.table.title" | translate }}</h1>
  @if (graphDatasetsSrvc.datasets().length === 0) {
    <div class="no-timeseries">
      {{ "diagram-view.no-timeseries.hint" | translate }}
    </div>
  } @else {
    <div class="table-content">
      <helgoland-data-table
        [datasets]="graphDatasetsSrvc.datasets()"
        [timespan]="graphDatasetsSrvc.timespan"
      ></helgoland-data-table>
    </div>
    @if (graphDatasetsSrvc.timespan) {
      <div class="time-selection">
        <helgoland-general-time-selection
          [timespan]="graphDatasetsSrvc.timespan"
          (timespanChanged)="graphDatasetsSrvc.timespan = $event"
        ></helgoland-general-time-selection>
      </div>
    }
    <div class="overview-diagram desktop-only">
      @if (graphDatasetsSrvc.timespan) {
        <n52-d3-series-graph
          #overview
          role="img"
          attr.aria-label="{{
            'diagram-view.overview-description' | translate
          }}"
          [datasets]="graphDatasetsSrvc.overviewDatasets()"
          [timespan]="graphDatasetsSrvc.overviewTimespan"
          [graphOptions]="overviewOptions"
          (timespanChanged)="graphDatasetsSrvc.timespan = $event"
        >
          <n52-d3-graph-overview-selection
            [selectionTimeInterval]="graphDatasetsSrvc.timespan"
          >
          </n52-d3-graph-overview-selection>
        </n52-d3-series-graph>
      }
    </div>
  }
</div>
