<div class="left-sidebar">
  <div class="sidebar-header">
    <img src="assets/img/mv_tut_gut_kl.png" alt="MV Logo" class="logo" />
    <div class="portal-title">Messdatenportal<br />Umwelt</div>
  </div>

  <div class="sidebar-main">
    <div class="menu-group">
      <button mat-button class="menu-item" (click)="openDatasource()">
        <mat-icon class="menu-icon">storage</mat-icon>
        {{ "change-data-source.button-label" | translate }}
      </button>
      @if (selectedDataSource.selectedService()) {
        <div class="selected-service-label">
          <span>{{ selectedDataSource.selectedService()!.label }}</span>
        </div>
        <span class="selected-service-url">{{
          selectedDataSource.selectedService()!.apiUrl
        }}</span>
      }
    </div>
    <hr class="divider" />
    <div class="menu-group">
      <button mat-button class="menu-item" (click)="openMapSelection()">
        <mat-icon class="menu-icon">map</mat-icon>
        {{ "diagram-view.add-timeseries.map" | translate }}
      </button>
      <button mat-button class="menu-item" (click)="openListSelection()">
        <mat-icon class="menu-icon">list</mat-icon>
        {{ "diagram-view.add-timeseries.list" | translate }}
      </button>
    </div>
    <hr class="divider" />
  </div>

  <hr class="divider" />

  <nav class="menu-group">
    <a
      matButton
      class="menu-item"
      type="button"
      (click)="showDownloadOverlay.set(true)"
    >
      <mat-icon class="menu-icon">cloud_download</mat-icon>
      <span>Landesweiter Datendownload</span>
    </a>
  </nav>

  <hr class="divider" />

  <nav class="menu-group">
    <a
      matButton
      class="menu-item"
      href="https://umweltportal.mv-regierung.de/portale/impressum.html#agb"
      target="_blank"
    >
      <mat-icon class="menu-icon">bookmark</mat-icon>
      <span>AGB</span>
    </a>

    <a matButton class="menu-item" href="#">
      <mat-icon class="menu-icon">help_outline</mat-icon>
      <span>Hilfe</span>
    </a>

    <button
      matButton
      class="menu-item"
      type="button"
      (click)="showInfoOverlay = true"
    >
      <mat-icon class="menu-icon">bookmarks</mat-icon>
      <span>Information &amp; Kontakt</span>
    </button>

    <a
      matButton
      class="menu-item"
      [href]="'https://metaver.de/trefferanzeige?docuuid=' + metaver_uuid"
      target="_blank"
    >
      <mat-icon class="menu-icon">info</mat-icon>
      <span>Über dieses Portal</span>
    </a>
  </nav>

  @if (appRouter.isMapSelection()) {
    <div class="info-overlay">
      <div class="overlay-header">
        <button matIconButton type="button" (click)="appRouter.back()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="overlay-title">{{
          "diagram-view.add-timeseries.map" | translate
        }}</span>
      </div>
      <app-map-selection-menu />
    </div>
  }

  @if (appRouter.isListSelection()) {
    <div class="info-overlay">
      <div class="overlay-header">
        <button matIconButton type="button" (click)="appRouter.back()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="overlay-title">{{
          "diagram-view.add-timeseries.list" | translate
        }}</span>
      </div>
      <app-list-selection-menu />
    </div>
  }

  @if (showInfoOverlay) {
    <div class="info-overlay">
      <div class="overlay-header">
        <button matIconButton type="button" (click)="showInfoOverlay = false">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="overlay-title">Information &amp; Kontakt</span>
      </div>
      <nav class="menu-group">
        <a
          matButton
          class="menu-item"
          href="https://umweltportal.mv-regierung.de/portale/impressum.html#agb"
          target="_blank"
        >
          <mat-icon class="menu-icon">article</mat-icon>
          <span>Impressum &amp; Kontakt</span>
        </a>

        <a
          matButton
          class="menu-item"
          href="https://umweltportal.mv-regierung.de/portale/impressum.html#barrierefrei"
          target="_blank"
        >
          <mat-icon class="menu-icon">accessibility_new</mat-icon>
          <span>Barrierefreiheitserklärung</span>
        </a>

        <a
          matButton
          class="menu-item"
          href="https://umweltportal.mv-regierung.de/portale/datenschutz.html"
          target="_blank"
        >
          <mat-icon class="menu-icon">privacy_tip</mat-icon>
          <span>Datenschutzerklärung</span>
        </a>

        <a
          matButton
          class="menu-item"
          href="https://www.lung.mv-regierung.de/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <mat-icon class="menu-icon">open_in_new</mat-icon>
          <span>Webseite des LUNG</span>
        </a>
      </nav>
    </div>
  }

  @if (showDownloadOverlay()) {
    <div class="download-overlay info-overlay">
      <div class="overlay-header">
        <button
          matIconButton
          type="button"
          (click)="showDownloadOverlay.set(false)"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <span class="overlay-title">Landesweiter Datendownload</span>
      </div>
      <nav class="menu-group">
        <div class="card-scroll-container">
          @for (uuid of this.meta_uuids.value(); track uuid) {
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Datendownload</mat-card-title>
                <mat-card-subtitle>{{ uuid.title }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="subtitle">Aktualisierungsintervall:</div>
                {{ uuid.status! | translate }}
                <br />

                <div class="subtitle">Erläuterung zum Zeitbezug:</div>
                {{ uuid.interval_description }}
                <br />
                <div class="subtitle">Weitere Informationen:</div>
                <a
                  matButton
                  [href]="
                    'https://metaver.de/trefferanzeige?docuuid=' + uuid.id
                  "
                  target="_blank"
                >
                  <mat-icon class="menu-icon">link</mat-icon>
                  <span>MetaVer Eintrag</span>
                </a>
                @for (dl of uuid.downloads; track dl) {
                  @if (dl.function === "information") {
                    <a mat-button [href]="dl.linkage" target="_blank">
                      <mat-icon class="download-link">link</mat-icon>
                      <span class="btn-text" [title]="dl.name">{{
                        dl.name
                      }}</span>
                    </a>
                  }
                }
                <div class="subtitle">Daten-Downloads:</div>
                @for (dl of uuid.downloads; track dl) {
                  @if (dl.function === "download") {
                    <a mat-button [href]="dl.linkage" target="_blank">
                      <mat-icon class="download-link">link</mat-icon>
                      <span class="btn-text" [title]="dl.name">{{
                        dl.name
                      }}</span>
                    </a>
                  }
                }
              </mat-card-content>
            </mat-card>
          }
        </div>
      </nav>
    </div>
  }
</div>
