<div
  class="sidebar-wrapper"
  [class.collapsed]="collapsed()"
  [class.right]="position === 'right'"
  [cdkTrapFocus]="modal()"
  [cdkTrapFocusAutoCapture]="modal()"
  (keydown)="onKeydown($event)"
  tabindex="-1"
  role="complementary"
  [attr.aria-label]="
    (position === 'left' ? 'sidebar.left.label' : 'sidebar.right.label')
      | translate
  "
>
  <div class="sidebar-panel">
    <div class="sidebar-content" [inert]="collapsed()">
      <ng-content></ng-content>
    </div>
  </div>
  @if (collapsible) {
    <button
      #handle
      class="sidebar-handle"
      [style.top]="handleTop"
      (click)="collapsed.set(!collapsed())"
      [attr.aria-label]="
        (collapsed() ? 'sidebar.open' : 'sidebar.close') | translate
      "
      [attr.title]="
        (collapsed() ? 'sidebar.open' : 'sidebar.close') | translate
      "
    >
      <mat-icon>
        {{
          position === "left"
            ? collapsed()
              ? "keyboard_arrow_right"
              : "keyboard_arrow_left"
            : collapsed()
              ? "keyboard_arrow_left"
              : "keyboard_arrow_right"
        }}
      </mat-icon>
    </button>
  }
</div>
