<div
  class="sidebar-wrapper"
  [class.collapsed]="collapsed"
  [class.right]="position === 'right'"
>
  <div class="sidebar-panel">
    <div class="sidebar-content" [inert]="collapsed">
      <ng-content></ng-content>
    </div>
  </div>
  @if (collapsible) {
    <button
      class="sidebar-handle"
      [style.top]="handleTop"
      (click)="collapsed = !collapsed"
      [attr.aria-label]="
        (collapsed ? 'sidebar.open' : 'sidebar.close') | translate
      "
      [attr.title]="(collapsed ? 'sidebar.open' : 'sidebar.close') | translate"
    >
      <mat-icon>
        {{
          position === "left"
            ? collapsed
              ? "keyboard_arrow_right"
              : "keyboard_arrow_left"
            : collapsed
              ? "keyboard_arrow_left"
              : "keyboard_arrow_right"
        }}
      </mat-icon>
    </button>
  }
</div>
