mat-expansion-panel {
    border-radius: 0px !important;
    border-right: 5px solid;

    mat-expansion-panel-header {
        height: min-content;
    }

    mat-panel-title {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 0.5em 0;

        .title {

            span:first-of-type {
                line-break: anywhere;
            }

            &.noData {
                color: #5c5f63;
            }

            .no-data-icon {
                font-size: 16px;
                width: 16px;
                height: 16px;
                vertical-align: text-bottom;
                margin-right: 2px;
            }

            &.error {
                color: lightcoral;
            }
        }
    }

    .small-label {
        font-size: 90%;
    }

    .entry-line {
        width: 100%;
        padding: 0;
        border: 0;
        background: none;
        font: inherit;
        color: inherit;
        text-align: left;

        &.clickable {
            :hover {
                cursor: pointer;
            }
        }
    }

    .mat-mdc-slide-toggle ::ng-deep {
        .mdc-switch {
            transform: scale(0.8) translateX(-10px);
        }
        .mdc-label {
            margin-left: -10px;
        }
    }
}